* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f9fafd;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
  cursor: pointer;
}

main {
  background-color: #ffffff;
  font-size: 1.4rem;
  margin: 0 auto;
  max-width: 730px;
  padding: 2.4em 1.6em;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

header .col-left {
  align-items: center;
  display: flex;
  gap: 0.9em;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.header-notifications {
  font-size: 2rem;
  font-weight: 800;
}

.notification-count {
  background-color: hsla(219, 85%, 26%, 1);
  border-radius: 0.6rem;
  color: #fff;
  display: grid;
  font-size: 1.6rem;
  font-weight: 800;
  height: 2.5rem;
  place-items: center;
  width: 3.2rem;
}

.btn-header {
  background: none;
  border: none;
  color: #5e6778;
  font-size: inherit;
  font-weight: 500;
}

.unread-icon {
  background-color: #f36663;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  width: 8px;
}

.unread-post {
  background-color: #f9fafd;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.post {
  align-items: flex-start;
  border-radius: 0.8rem;
  display: flex;
  gap: 1.3rem;
  padding: 1.8rem 2rem;
}

.post-avatar {
  width: 3.9rem;
}

.post-text-container {
  color: #5e6778;
  width: 100%;
}

.post-content {
}

.post-name {
  color: #1c202b;
}

.post-time {
  color: #939cad;
  display: inline-block;
  margin-top: 3px;
}

.post-image {
  width: 3.9rem;
}

.private-message {
  border: 1px solid #dde7ee;
  border-radius: 0.5rem;
  margin-top: 1.2rem;
  padding: 1.6rem;
}

@media all and (min-width: 730px) {
  main {
    border-radius: 1.5em;
    font-size: 1.6rem;
    margin: 6.3rem auto;
  }

  .header-notifications {
    font-size: 2.4rem;
  }

  .post {
    gap: 1.9rem;
  }

  .post-avatar {
    width: 4.5rem;
  }

  .post-time {
    margin-top: 4px;
  }
}
